<head>
    <title>Socially-Sensed Movie Rating</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/quotes.css">
    <link rel="stylesheet" type="text/css" href="styles/ourScore.css">
    <link rel="stylesheet" type="text/css" href="styles/recommendations.css">
    
</head>
<body>
    <div id="baseDiv">
        <div id="titleDiv">
            <h1 class="topHeaders">Socially-Sensed Movie Rating</h1>
        </div>
        <div id="searchDiv">
            <input type="text" id="searchBar"></input>
            <button id="searchButton">Search</button>
        </div>
        <div id="masterContentDiv">
            <div id="quotesDiv">
                <h1 class="topHeaders">Sample Tweets</h1>
                <select id="quoteSelect">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected='selected'>5</option>
                </select>
                <button id="quoteButton">View</button>
                <div id="quotesSubDiv">
                    <p id="quote1" class="miscText">---</p>
                    <p id="quote2" class="miscText">---</p>
                    <p id="quote3" class="miscText">---</p>
                    <p id="quote4" class="miscText">---</p>
                    <p id="quote5" class="miscText">---</p>
                </div>
            </div>
            <div id="ourScoreDiv">
                <h1 class="topHeaders">Twitter Score</h1>
                <h1 id="twitterScoreDisplay" class="score">---</h1>
                <div id="twitterScoreGraphicDiv">
                    <img src="images/star.png" width="75" height="75" id="star1" style="display:none">
                    <img src="images/star.png" width="75" height="75" id="star2" style="display:none">
                    <img src="images/star.png" width="75" height="75" id="star3" style="display:none">
                    <img src="images/star.png" width="75" height="75" id="star4" style="display:none">
                    <img src="images/star.png" width="75" height="75" id="star5" style="display:none">
                </div>
            </div>
            <div id="recommendationsDiv">
                <h1 class="topHeaders">Other Recommendations</h1>
                <div id="recsSubDiv">
                    <h2 id="rec1" class="miscText">1. ---</h1>
                    <h2 id="rec2" class="miscText">2. ---</h1>
                    <h2 id="rec3" class="miscText">3. ---</h1>
                    <h2 id="rec4" class="miscText">4. ---</h1>
                    <h2 id="rec5" class="miscText">5. ---</h1>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/main.js"></script>
</body>