#baseDiv {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#titleDiv {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#searchDiv {
    display: flex;
    width: 25%;
    flex-flow: column wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#masterContentDiv {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.topHeaders {
    color: red;
    font-family: courier; 
}

.score {
    color: green;
    font-family: courier;
    font-size: 80px;
}

.miscText {
    color: white;
    font-family: courier;
}

body {
    background-color: black;
}