#ourScoreDiv {
    display: flex;
    width: 30%;
    margin-left: 0;
    margin-right: 0;
    flex-flow: column nowrap;
    justify-items: flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#twitterScoreGraphicDiv {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-flow: row nowrap;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}